html, body {
  font-family: Inter, system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, sans-serif;
}

input,
select,
textarea,
button,
option {
  font-family: inherit;
}

select {
  appearance: none;
  background-image:
    linear-gradient(45deg, transparent 50%, #555 50%),
    linear-gradient(135deg, #555 50%, transparent 50%);
  background-position:
    calc(100% - 18px) calc(1em + 2px),
    calc(100% - 13px) calc(1em + 2px);
  background-size: 5px 5px;
  background-repeat: no-repeat;
}

input[type="date"]{
  color-scheme: light;
}
